{% extends 'layout.html' %}
{% block head %}
    <script type="text/javascript" src="javascript/barchart.js"></script>
    <script type="text/javascript" src="javascript/dropdown.js"></script>
    <script type="text/javascript" src="javascript/d3/d3-tip.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascript/d3/d3-tip.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/tooltip.css">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row centered">
            <div class="col-sm-4"> <h2>Feature Ranking</h2> </div>
            <div class="col-sm-4" id="class_label_dropdown"> Class Label -- > </div>
            <div class="col-sm-4" id="score_function_dropdown"> Score Function -- > </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-3">
                <button id="prev" type="button" class="btn btn-secondary"
                        onclick="get_next_prev(-1)">
                    <---
                </button>
            </div>
            <div class="col-sm-3">
                <button id="displayall" type="button" class="btn btn-secondary">
                    Display all
                </button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-secondary">
                    Help
                </button>
            </div>

            <div class="col-sm-3">
                <button id="next" type="button" class="btn btn-secondary"
                        onclick="get_next_prev(1)">
                    --->
                </button>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="content-svgs container-fluid"></div>
    <script>
        let curr = 0

        function get_next_prev(value){
            curr = (curr + value) % properties.data_types.length
            if(curr < 0)
                curr = properties.data_types.length - 1
            properties.curr_data_type = properties.data_types[curr]
            renderSingleBarchart(properties, false, undefined)
        }

        const graphData = {{data | safe}}

        const properties = {
            data: graphData,
            margins: {
                top: 30,
                right: 20,
                bottom: 30,
                left: 60
            },
            MAX_LABEL_SIZE_Y: 200,
            MAX_LABEL_SIZE_X: 150,
            displayingAll: false,
        }
        properties.class_labels = Object.keys(graphData)
        properties.data_types = Object.keys(graphData[properties.class_labels[0]])
        properties.scoring_functions = Object.keys(graphData[properties.class_labels[0]][properties.data_types[0]])
        properties.curr_class_label = properties.class_labels[0]
        properties.curr_scoring_functions = properties.scoring_functions[0]
        properties.curr_data_type = properties.data_types[0]

        d3.select('#displayall').on('click',()=>renderMultipleBarcharts(properties, true))

        dropdowns(properties)

        renderSingleBarchart(properties, true, undefined)


    </script>
{% endblock %}